<% let maxScale = 0.2 %>
<% let minScale = 0.15 %>
<% items.forEach(item => { %>

<% let aspectratio = item.imgWidth / item.imgHeight %>
<% if(aspectratio != 1){ %>
<% aspectratio = 1.1 + aspectratio %>
<% } else { %>
<% aspectratio = 1; %>
<% } %>

@media only screen and (max-device-width: 1400px) {
    /* Mobile Styles */
    .<%= 'item'+item.id+'-item'%>{
        width:<%= item.imgWidth * 0.15 %>px; 
        height: <%= (item.imgHeight * 0.15)+100 %>px;
        margin: 5px;
        animation: <%= 'item'+item.id+'-collapse'%> 0.3s forwards;
    }

    .<%= 'item'+item.id+'-img'%>{
        animation: <%= 'item'+item.id+'-imgCollapse'%> 0.3s forwards;
    }

    .<%= 'item'+item.id+'-imgExpanded'%>{
        animation: <%= 'item'+item.id+'-imgExpand'%> 0.3s forwards;
    }

    .<%= 'item'+item.id+'-expanded'%>{
        animation: <%= 'item'+item.id+'-expand'%> 0.3s forwards;
        z-index: 10;
    }

    @keyframes <%= 'item'+item.id+'-expand'%>{
        0%{width:<%= item.imgWidth * minScale+100 %>px; height: <%= (item.imgHeight * minScale+100)+40 %>px; transform: scale(1);}
        100%{width:<%= item.imgWidth * maxScale+100 %>px; height: <%= (item.imgHeight * maxScale+100)+155 %>px; transform: scale(1.7);}
        
    }

    @keyframes <%= 'item'+item.id+'-collapse'%>{
        0%{width:<%= item.imgWidth * maxScale+100 %>px; height: <%= (item.imgHeight * maxScale+100)+155 %>px; transform: scale(1.7);}
        100%{width:<%= item.imgWidth * minScale+100 %>px; height: <%= (item.imgHeight * minScale+100)+40*aspectratio %>px; transform: scale(1);}
    }

    @keyframes <%= 'item'+item.id+'-imgCollapse'%>{
        0%{width:<%= item.imgWidth * maxScale+100 %>px;}
        100%{width:<%= item.imgWidth * minScale+100 %>px;}
    }

    @keyframes <%= 'item'+item.id+'-imgExpand'%>{
        0%{width:<%= item.imgWidth * minScale+100 %>px;}
        100%{width:<%= item.imgWidth * maxScale+100 %>px;}
    }
}


@media only screen and (min-device-width: 1400px) {
    /* Desktop Styles */
    .<%= 'item'+item.id+'-item'%>{
        width:<%= item.imgWidth * 0.15 %>px;
        height: <%= (item.imgHeight * 0.15)+100 %>px;
        margin: 5px;
        animation: <%= 'item'+item.id+'-collapse'%> 0.3s forwards;
    }

    .<%= 'item'+item.id+'-img'%>{
        animation: <%= 'item'+item.id+'-imgCollapse'%> 0.3s forwards;
    }

    .<%= 'item'+item.id+'-imgExpanded'%>{
        animation: <%= 'item'+item.id+'-imgExpand'%> 0.3s forwards;
    }

    .<%= 'item'+item.id+'-expanded'%>{
        animation: <%= 'item'+item.id+'-expand'%> 0.3s forwards;
        z-index: 10;
    }

    @keyframes <%= 'item'+item.id+'-expand'%>{
        0%{width:<%= item.imgWidth * minScale %>px; height: <%= (item.imgHeight * minScale)+20 %>px; transform: scale(1);}
        100%{width:<%= item.imgWidth * maxScale %>px; height: <%= (item.imgHeight * maxScale)+120 %>px; transform: scale(1.2);}
        
    }

    @keyframes <%= 'item'+item.id+'-collapse'%>{
        0%{width:<%= item.imgWidth * maxScale %>px; height: <%= (item.imgHeight * maxScale)+120 %>px; transform: scale(1.2);}
        100%{width:<%= item.imgWidth * minScale %>px; height: <%= (item.imgHeight * minScale)+20 %>px; transform: scale(1);}
    }

    @keyframes <%= 'item'+item.id+'-imgCollapse'%>{
        0%{width:<%= item.imgWidth * maxScale %>px;}
        100%{width:<%= item.imgWidth * minScale %>px;}
    }

    @keyframes <%= 'item'+item.id+'-imgExpand'%>{
        0%{width:<%= item.imgWidth * minScale %>px;}
        100%{width:<%= item.imgWidth * maxScale %>px;}
    }
}
<%}); %>

</style>

<div class="CenterBody">
<h1 id="title" class="RainbowText GlitchHeader"> The Gallery </h1>
</div>

<div class="CenterBody">
    <div id="Galleryintro">
        <h4>Important Information About the Gallery</h4>
        <div id="GalIntroContent">
            <p>Right now, the gallery is curated for our application to vend at FurEh this year. Below are some of the products and items we'd like to bring. Click on each item to see a description along with a higher-resolution image.</p>
            <p>There are more things we'd like to make and bring, but unfortunately, I won't have time to create samples of them before this page is reviewed. So, if you're interested, keep checking back!</p>
            <p>Additionally, this gallery application is somewhat experimental, as I made it myself. It should work on mobile and desktop, but I haven't had the chance to test it extensively.</p>
        </div>
    </div>
</div>

<div class="CenterBody">
    <div class="SectionLabel">
        <h2 class ="SectionHeader RainbowText GlitchHeader">Ergo Paws</h2>
        <div>
            <p class="SectionDetails">Ergopaws are ergonomic reversable fingerless paws you can wear while you game, do crafts, or anything else! They come in a variety of styles and sizes and have been specfically designed to work with VR controllers.</p>
        </div>
    </div>
</div>
<div class="CenterBody">
    <div class="Gallery-Container SectionLabel">
        <% pawItems.forEach(item => { %>
            <div class="<%= 'item'+item.id+'-item'%> window" id="item<%=item.id%>">
                <div class="title-bar">
                    <div class="title-bar-text">
                        <%= item.imgTitle %>
                    </div>
            
                    <div class="title-bar-controls">
                        <button aria-label="Minimize" onclick="CollapseItem(<%='item' + item.id%>,'<%=item.imgPath%>')"></button>
                        <button aria-label="Maximize" onclick="ExpandItem(<%='item' + item.id%>,'<%=item.imgPath%>')"></button>
                        <button aria-label="Close" onclick="CollapseItem(<%='item' + item.id%>,'<%=item.imgPath%>')"></button>
                    </div>
                    
                </div>
                <div class="gallery-window-body">
                    <img class="<%= 'item'+item.id+'-img'%>" src="<%= '/gallery/thumb/' + item.imgPath %>" id="item<%=item.id%>-img" onclick="ToggleExpand(<%='item' + item.id%>, '<%=item.imgPath%>')"/>
                    <div>
                        <div class="img-desc window-body" id="item<%=item.id%>-desc"><%= item.imgDescription %></div>
                    </div>
                </div>

            </div>
        <%}); %>
    </div>
</div>

<div class="CenterBody">
    <div class="SectionLabel">
        <h3 class ="SectionHeader RainbowText GlitchHeader">Chilly Beans!</h3>
        <div>
            <p class="SectionDetails">Chilly beans are UV reactive hand-made sensory toys/ice Packs filled with a special <a target="_blank" class="realLink" href="https://en.wikipedia.org/wiki/Phase-change_material">Phase Changing Material (PCM)</a>.
                They 'freeze' at ~17°C, and as they melt, they maintain this ideal temperature throughout, ensuring consistent cooling while changing texture.</p>
            <p class="SectionDetails">They stay cool to the touch for hours and have a very satisfying squish and stretch factor.</p> 
            <p class="SectionDetails">Each Chilly Bean is unique, however we have 'Basic' beans which only contain PCM and glitter, and 'Bespoke' beans which may contain objects and other additives, there will only be one or two of each Bespoke Bean!</p>
            <p class ="SectionDetails">We are also experimenting with other fillings to find even more unique sensory experinces, additionally, the PCM material will be available in form factors suitable for fursuit cooling and personal comfort!</p>
        </div>
    </div>
</div>
<div class="CenterBody">
    <div class="Gallery-Container">
        <% pcmItems.forEach(item => { %>
            <div class="<%= 'item'+item.id+'-item'%> window" id="item<%=item.id%>">
                <div class="title-bar">
                    <div class="title-bar-text">
                        <%= item.imgTitle %>
                    </div>
            
                    <div class="title-bar-controls">
                        <button aria-label="Minimize" onclick="CollapseItem(<%='item' + item.id%>,'<%=item.imgPath%>')"></button>
                        <button aria-label="Maximize" onclick="ExpandItem(<%='item' + item.id%>,'<%=item.imgPath%>')"></button>
                        <button aria-label="Close" onclick="CollapseItem(<%='item' + item.id%>,'<%=item.imgPath%>')"></button>
                    </div>
                    
                </div>
                <div class="gallery-window-body">
                    <img class="<%= 'item'+item.id+'-img'%>" src="<%= '/gallery/thumb/' + item.imgPath %>" id="item<%=item.id%>-img" onclick="ToggleExpand(<%='item' + item.id%>, '<%=item.imgPath%>')"/>
                    <div>
                        <div class="img-desc window-body" id="item<%=item.id%>-desc"><%= item.imgDescription %></div>
                    </div>
                </div>
    
            </div>
        <%}); %>
    </div>
 </div>

<div class="CenterBody">
    <div class="SectionLabel">
        <h2 class ="SectionHeader RainbowText GlitchHeader">Prints and Commissions by Vael</h2>
        <div>
            <p class="SectionDetails">Along with several prints of Vael's work being available for purchase, she will also be taking comissions! Below are samples of her works and styles, check out <a class="realLink" href="https://linktr.ee/SoapyBits" target="_blank">Vael's Linktree</a> for more content.</p>
        </div>
    </div>
</div>
<div class="CenterBody">
    <div class="Gallery-Container">
        <% artItems.forEach(item => { %>
            <div class="<%= 'item'+item.id+'-item'%> window" id="item<%=item.id%>">
                <div class="title-bar">
                    <div class="title-bar-text">
                        <%= item.imgTitle %>
                    </div>
            
                    <div class="title-bar-controls">
                        <button aria-label="Minimize" onclick="CollapseItem(<%='item' + item.id%>,'<%=item.imgPath%>')"></button>
                        <button aria-label="Maximize" onclick="ExpandItem(<%='item' + item.id%>,'<%=item.imgPath%>')"></button>
                        <button aria-label="Close" onclick="CollapseItem(<%='item' + item.id%>,'<%=item.imgPath%>')"></button>
                    </div>
                    
                </div>
                <div class="gallery-window-body">
                    <img class="<%= 'item'+item.id+'-img'%>" src="<%= '/gallery/thumb/' + item.imgPath %>" id="item<%=item.id%>-img" onclick="ToggleExpand(<%='item' + item.id%>, '<%=item.imgPath%>')"/>
                    <div>
                        <div class="img-desc window-body" id="item<%=item.id%>-desc"><%= item.imgDescription %></div>
                    </div>
                </div>
    
            </div>
        <%}); %>
    </div>
 </div>
 <div class="CenterBody">
    <div class="SectionLabel">
        <h3 class ="SectionHeader RainbowText GlitchHeader">And More!</h3>
        <div>
            <p class="SectionDetails">We intend to bring more than what's shown here! Such as: </p>
            <ul class="SectionDetails">
                <li>Stickers</li>
                <li>Pins</li>
                <li>Pin Lockers</li>
                <li>Lightweight 3D printed head base(s)</li>
                <li>"Achievement" plaques(humorous)</li>
            </ul>
            <p class="SectionDetails">The Gallery will continue to be popualted with images of these items, so check back!</p>
        </div>
    </div>
</div>