<%- include('partials/header'); -%>

<script>
    //Custom Trigger for reloading the splash text
    function reloadSplash(){
        htmx.trigger('#LogoHolder', 'reloadSplash');
    }
</script>

<style>
    #returnlink{
        display: none;
    }

    .HomeContent {
        margin: 10px;
        height: 400px;
        width: 700px;
    }

    #HomeWindowContainer{
        flex-wrap:wrap;
    }

</style>

<div class="CenterBody" id="LogoHolder" hx-get="/splash" hx-trigger="load, reloadSplash ">

</div>

<div class="CenterBody" id="HomePage">
    <div class="window" id="HomeWindow">
        <div class="title-bar">
          <div class="title-bar-text">
            Choose Your Destination
          </div>
  
          <div class="title-bar-controls">
            <button aria-label="Minimize"></button>
            <button aria-label="Maximize"></button>
            <button aria-label="Close"></button>
          </div>
        </div>
        <div class="window-body">
            <div class="CenterBody" id="HomeWindowContainer">
                    <%- include('partials/VaelLink'); -%>
                    <%- include('partials/ErgoLink'); -%>
                    <%- include('partials/GalLink'); -%>
                    <%- include('partials/AboutLink'); -%>

            </div>

          <section class="field-row" style="justify-content: flex-end">
            <button onclick="reloadSplash()">OK</button>
            <button>Cancel</button>
          </section>
        </div>
      </div>
</div>

<%- include('partials/footer'); -%>